.root {
  color: white;
  padding-left: 0px;
  padding-right: 0px;
  margin-top: -5px;
  background-image: url("/img/sort/catalog-background.jpg");
  background-size: cover;
  .container {
    padding-left: 71px;
    padding-right: 71px;
    h1 {
      font-size: 6rem;
      line-height: 7.7rem;
      padding-top: 35px;
    }
    .breadcrumbs {
      display: flex;
      align-items: center;
      margin-top: 5px;
      margin-bottom: 45px;

      img {
        margin-right: 10px;
      }
      span {
        line-height: 2.1rem;
        font-size: 1.6rem;
        cursor: pointer;
      }
    }
    .filtration {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      @media (max-width: 740px) {
        flex-direction: column;
        align-items: center;
      }
      .resetBtn {
        line-height: 4.3rem;
        font-size: 1.8rem;
        transition-duration: 200ms;
        &:hover {
          scale: 1.1;
          opacity: 0.8;
        }
        @media (max-width: 740px) {
          font-size: 4.5rem;
          margin-bottom: 30px;
        }
      }
    }
  }
}
