header {
  .container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 71px;
    padding-right: 71px;
    @media (max-width: 760px) {
      justify-content: center;
      margin-left: 195px;
    }
    nav {
      @media (max-width: 760px) {
        display: none;
      }
      ul {
        display: flex;
        li {
          padding-right: 33px;
          &:last-of-type {
            padding-right: 0px;
          }
          .link {
            transition-duration: 75ms;
            padding-bottom: 16px;
            font-size: 2rem;
            line-height: 2.5rem;
            font-weight: 700;
            &:hover {
              border-bottom-width: 2px;
              border-color: #756257;
            }
          }
        }
      }
    }
    .secondNav {
      display: flex;
      align-items: center;
      position: relative;
      .search {
        padding-right: 21px;
        &:hover {
          opacity: 0.6;
        }
        @media (max-width: 760px) {
          display: none;
        }
      }
      .fav {
        display: flex;
        padding-right: 33px;
        &:hover {
          opacity: 0.8;
        }
        @media (max-width: 760px) {
          display: none;
        }
        span {
          width: 19px;
          height: 19px;
          border-radius: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #7db54f;
          color: white;
          font-size: 1rem;
          position: relative;
          top: -5px;
          left: -5px;
        }
      }
      .btn {
        font-size: 1.6rem /* 25.6px */;
        background-color: #756257;
        padding: 10px 50px;
        border-radius: 4px;
        color: white;
        font-weight: 700;
        transition-duration: 200ms;
        &:hover {
          opacity: 0.8;
          scale: 1.1;
        }
        @media (max-width: 760px) {
          display: none;
        }
      }
      .burger {
        margin-left: 140px;
        display: none;
        z-index: 30;
        align-items: center;
        justify-content: flex-end;
        width: 30px;
        height: 18px;
        cursor: pointer;
        span {
          display: inline-block;
          height: 2px;
          width: 80%;
          background-color: #c4c4c4;
        }
        &::before,
        &::after {
          position: absolute;
          content: "";
          height: 2px;
          width: 27px;
          background-color: #c4c4c4;
        }
        &::before {
          top: 0px;
        }

        &::after {
          bottom: 0px;
        }
        @media (max-width: 760px) {
          display: flex;
        }
      }
    }
  }
}
