.container {
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 50px 71px 40px 71px;
  .social {
    display: flex;
    .link {
      margin-right: 30px;
      &:last-of-type {
        margin-right: 0px;
      }
    }
  }
  .number {
    a {
      font-size: 4rem;
      @media (max-width: 800px) {
        font-size: 1.8rem;
      }
    }
  }
  .copyright {
    h2 {
      font-size: 4rem;
      @media (max-width: 800px) {
        font-size: 1.8rem;
      }
    }
  }
}
