.root {
  h2 {
    padding-top: 90px;
    margin-bottom: 30px;
  }

  .btnWrap {
    display: flex;
    margin-top: 73px;
    margin-bottom: 90px;
    justify-content: center;
    .btn {
      display: inline-block;
      padding: 30px 200px;
      font-size: 1.6rem;
      background-color: #756257;
      border-radius: 4px;
      color: white;
      font-weight: 700;
      transition-duration: 200ms;
      &:hover {
        scale: 1.1;
        opacity: 0.9;
      }
      @media (max-width: 750px) {
        padding-left: 150px;
        padding-right: 150px;
      }
    }
  }
}
