.root {
  position: relative;
  .selected {
    display: flex;
    align-items: center;
    @media (max-width: 740px) {
      flex-direction: column;
    }
    .title {
      font-size: 1.8rem /* 28.8px */;
      line-height: 2.3rem /* 36.8px */;
      margin-right: 50px;
      @media (max-width: 740px) {
        margin-right: 0;
        margin-bottom: 20px;
      }
    }
    .label {
      display: flex;
      padding: 12px 19px;
      border: 2px #e6e6e6 solid;
      cursor: pointer;
      .chosen {
        font-size: 1.8rem;
        line-height: 2.3rem;
        margin-right: 100px;
      }
    }
  }
  .popup {
    position: absolute;
    right: 0px;
    background-color: white;
    .item {
      font-size: 1.8rem /* 28.8px */;
      color: #333333;
      padding: 12px 30px;
      border: 1px #e6e6e6 solid;
      cursor: pointer;
      &:hover {
        background-color: #83b3d3;
      }
    }
    .active {
      font-size: 1.8rem /* 28.8px */;
      color: white;
      padding: 12px 30px;
      border: 1px #e6e6e6 solid;
      background-color: #83b3d3;
      cursor: pointer;
    }
  }
}
