.root {
  .title {
    font-size: 2rem /* 32px */;
    line-height: 2.5rem /* 40px */;
    margin-bottom: 30px;
    font-weight: 700;
  }
  .radio {
    display: flex;
    flex-direction: column;
    padding-bottom: 83px;
    justify-content: center;

    label {
      display: flex;
      cursor: pointer;
      input {
        display: none;
      }
      .fake {
        width: 20px;
        height: 20px;
        background-color: white;
        display: block;
        border-radius: 100%;
        position: relative;
        &::before {
          content: "";
          width: 10px;
          height: 10px;
          border-radius: 100%;
          background-color: #3f5e72;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translateX(-50%) translateY(-50%);
          opacity: 0;
        }
      }
      input:checked + .fake::before {
        opacity: 1;
      }
      .text {
        font-size: 1.8rem;
        line-height: 2.3rem;
        margin-left: 20px;
        margin-bottom: 13px;
      }
    }
  }
}
