.root {
  .title {
    font-size: 2rem;
    line-height: 2.5rem;
    font-weight: 700;
  }
  .priceRangeBlock {
    display: flex;
    .priceRange {
      padding: 15px 20px;
      border: 2px white solid;
      .price {
        margin-right: 80px;
        font-size: 1.8rem;
      }
      .priceText {
        font-size: 1.8rem;
        opacity: 0.3;
      }
    }
  }
  .slider {
    margin-top: 50px;
  }
}
