.btn {
  font-size: 1.6rem;
  background-color: #756257;
  padding: 10px 50px;
  border-radius: 4px;
  color: white;
  font-weight: 700;
  transition-duration: 200ms;
  &:hover {
    &:hover {
      opacity: 0.8;
    }
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.title {
  font-size: 3rem /* 48px */;
  line-height: 3.6rem /* 57.6px */;
  text-align: center;
  font-weight: 700;
}

.subtitle {
  font-size: 2.2rem;
  line-height: 3.6rem;
  text-align: center;
}
