.sort {
  position: relative;
  .label {
    display: flex;
    justify-content: space-between;
    padding: 12px 19px;
    border: #e6e6e6 2px solid;
    cursor: pointer;
    span {
      margin-right: 94px;
      font-size: 1.8rem;
    }
  }
  .popup {
    position: absolute;
    right: 0px;
    background-color: white;
    .item {
      font-size: 1.8rem;
      color: #333333;
      padding: 12px 30px;
      border: 1px #e6e6e6 solid;
      cursor: pointer;
      &:hover {
        background-color: #83b3d3;
      }
    }
    .active {
      font-size: 1.8rem;
      color: white;
      padding: 12px 30px;
      border: 1px #e6e6e6 solid;
      cursor: pointer;
      background-color: #83b3d3;
    }
  }
}
