.root {
  position: relative;
  .banner {
    z-index: -1;
    top: -5px;
    position: relative;
  }
  .title {
    top: 8%;
    left: 31.5%;
    max-width: 40%;
    position: absolute;
  }
  .decorate {
    top: 87.5%;
    position: absolute;
  }
}
